<h2>Navigation tiles - parent</h2>

<ul class="layout  layout--small">

    {{#navigationTiles}}

        <li class="layout__item    u-1-of-3-large-and-up  u-1-of-4-huge">

            <a class="navigation-tile  navigation-tile--index-{{index}}" href="{{{href}}}">

                <div class="u-hidden  u-display-block-large-and-up">

                    <div class="navigation-tile__image    fixed-aspect-ratio  fixed-aspect-ratio--1x1" style="background-image: url({{{image}}})"></div>

                </div>

                <div class="navigation-tile__text">

                    <h2 class="navigation-tile__title">{{title}}</h2>

                    <p class="u-hidden u-display-block-large-and-up">{{text}}</p>

                </div><!-- /.navigation-tile__text -->

             </a><!-- /.navigation-tile -->

        <!-- /li.layout__item -->

    {{/navigationTiles}}

</ul>
